.mainContainer{
    background-color: #fff;
    border-top: grey solid 1px;
    height: 20vh;
  
    
}

.anchor{
text-decoration: none;
outline: 0;
}



.iconsWhatapp{
    color: #25d366;
    width: 27px;
    height: 27px;
    margin: 1rem;
  }

.iconsFace{
    color: #4267b2;
    width: 25px;
    height: 25px;
    margin: 1rem;
}

.icons{
    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    width: 25px;
    height: 25px;
    margin: 1rem;
    border-radius: 40%;
    box-shadow: 0px 3px 10px rgba(0,0,0,25);
  }