.boton{
    padding: 8px;
    font-weight: 700;
    background-color: #0394fc;
    border-radius: 5px;
    text-decoration: none;
    color: #112A46;
}

.boton:focus{
    background-color: #4A1414;
    color: #0394FC;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}



.active{
    background-color: black;
    color: white;
}

@media screen and (max-width: 500px) {
    .boton{
        padding: 8px;
        font-weight: 700;
        background-color: #0394fc;
        border-radius: 5px;
        text-decoration: none;
        color: #112A46;
        
    }
    
}


