.boton{
    padding: 8px;
    font-weight: 700;
    background-color: #0394fc;
    border-radius: 5px;
    text-decoration: none;
    color: #112A46;
}

.boton:focus{
    background-color: #4A1414;
    color: #0394FC;
}

.container{
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    
}

ul{
  position: relative;
bottom: 15px;
   
}

.active{
    background-color: black;
    color: white;
}


