.img{
  position: absolute;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}


.boton{
  position: absolute;
  bottom: 20em;
  text-decoration: none;
  color: aqua;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  left: 38rem;
  
}

.boton:hover{
    background-color: white;
    color: black;
}

.title{
  position: absolute;
  bottom: 25rem;
  left: 30rem;
  color: aliceblue;
}

.container{
  overflow:hidden;
  display: flex;
}

@media screen and (max-width:500px){

  .img{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .container{
    overflow:hidden;
    display: flex;
  }

  .boton{
    position: absolute;
    left: 9.5rem;
    text-decoration: none;
    color: aqua;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
    
  }
  
  .boton:hover{
      background-color: white;
      color: black;
  }
  
  .title{
    position: absolute;
    left: 7rem;
    z-index: 1;
    color: aliceblue;
    font-size: 1rem;
  }


}


  