.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkslategrey;
    padding:5px;
    
}

.ruta_form{
   text-decoration: none;
   margin-right: 100px;
   color: black;
   padding: 8px;
   border-radius: 5px;
   background-color: #29bf12;
   font-weight: 600;
  
}

.ruta_form:hover{
    background-color: black;
    color: white;
}

.ruta_home:hover{
    background-color: black;
    color: white;
}

.ruta_home{
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 5px;
    background-color: #29bf12;
    font-weight: 600;
}

.img{
    width: 5%;
    height: 3%;
    position: relative;
    left: 200px;
}



