@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


p{
    color: #00a5cf;
    margin-left: 8px;
  
}

h2{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 20px;
    line-height: 0;
    font-family: 'Montserrat', sans-serif;
}

.title_activity{
  position: relative;
  top: 20px;
}

body{
  background-color: #e5e5e5;
}


.container{
   margin-top: 2rem;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
  
}

.mainContainer{
  height: 100vh;
}

.details{
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.act{
  width: 40%;
  height: 350px;
  
}

.noActs{
  position: relative;
  left: 10rem;
  top: 10rem;
}


.activities{
 color: black; 
 font-family: 'Montserrat', sans-serif;
}

.container_activity{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem;
  margin-top: 2rem;
  padding: 10px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid gray;
    border-bottom: 16px solid white;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: relative;
    left: 40rem;
    top: 10rem;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  @media screen and (max-width: 600px){
    .container{
      margin-top: 2rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
     
   }

   .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: #00a5cf 2px solid; */
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    left: 2rem;
  }

  .act{
    width: 100%;
   
    display: flex;
   
    align-items: center;
    flex-direction: column;
  }

  .noActs{
    position: relative;
    left: 0rem;
    top: 4rem;
  }

  .activities{
    color: black; 
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
   }
  }