.container{
    display: inline-block;
    padding: 10px;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    transition: all .2s ease-in-out;
    padding-bottom: 10px;
    justify-content: center;
    justify-items: center;
    background-color: #e5e5e5;
}
.container:hover{
  transform: scale(1.1);
}

.title{
  text-decoration: none;
  font-size: 10px;
}

.imagen{
  height: 200px;
  width: 300px;
}

.input{
  outline: none;
  padding: 10px;
  border-radius: 5px;
  width: 66%;
  font-size: 1rem;
}

.boton{
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem
}

h1{
  color: black;
}

.boton:hover{
  background-color: black;
  color: white;
}

.buscador{
  position: relative;
  left: 350px;
}



.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid gray;
  border-bottom: 16px solid white;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: relative;
  left: 40rem;
  top: 10rem;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}