@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
  
  padding: 0;
  box-sizing: border-box;
}



.container{
    display: inline-block;
    padding: 10px;
    margin: 1rem;
    border-radius: 24px 4px;
    border: 1px solid rgb(146, 114, 114);
    transition: all .2s ease;
    padding-bottom: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    background-color: #e5e5e5;
}
.container:hover{
  transform: scale(1.1);
}

.title{
  text-decoration: none;
  font-size: 5px;
}

.imagen{
  height: 170px;
  width: 250px;
}

.input{
  outline: none;
  padding: 12px;
  border-radius: 25px 0 0 25px;
  width: 66%;
  font-size: 1rem;
  border: none;
}

.boton{
  padding: 12px;
  border-radius: 0 25px 25px 0;
  font-size: 1rem;
  border: none;
  background-color: #29bf12;
}

h1{
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.boton:hover{
  background-color: black;
  color: white;
}

.containerFlags{
  height: 100vh;
  margin-bottom: 3rem;
}




.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid darkslategrey;
  border-bottom: 16px solid white;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: relative;
  left: 40rem;
  top: 10rem;
 
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.notfound{
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 10rem;
}


@media screen and (max-width:600px){
  .imagen{
    height: 50px;
    width: 100px;
  }


  .container{
    /* display: inline-block; */
     flex-wrap: wrap; 
    border-radius: 24px 4px;
    border: 1px solid rgb(146, 114, 114);
    transition: all .2s ease;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    background-color: #e5e5e5;
    width: 150px;
   
}


  .containerFlags{
    height: 60vh;
    margin-bottom: 25rem;
    flex-wrap: wrap;
  }
  
  h1{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
 
  .input{
    outline: none;
    padding: 12px;
    border-radius: 25px 0 0 25px;
    width: 66%;
    font-size: .9rem;
    border: none;
    
  }

  .boton{
    padding: 12px;
    border-radius: 0 25px 25px 0;
    font-size: .9rem;
    border: none;
    background-color: #29bf12;
  }
  

  
}