.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.submain{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}

.p{
    color: #fff;
    width: 90%;
    text-align: center;
}

.containerIcons{
    /* border: solid 2px #00adb5; */
    width: 30%;
    height: 200px;
    border-radius: 5px;
    margin: 0 1rem 1rem 0;
    position: relative;
}

.containerIcons:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 50%;  
    border-bottom:1px solid magenta;
  }

.title{
    color: #fff;
    position: absolute;
    top: -2.3rem;
    z-index: 1200;
    left: 40%;
    font-size: 1.1rem;
}