.main{
    width: 100%;
    display: flex;
    padding: 0 0 2rem 0;
}

.subMain{
    width: 80%;
    display: flex;
    flex-direction: column;
   
}

.profile{
    width: 20%;
    height: 35%;
    position: absolute;
    left: 60%;
    border-radius: 10px;
    transform: rotate(-45deg);
    border-bottom: #00adb5 2px solid;
    border-left: #00adb5 2px solid;
    padding: 5px;
    margin: 19.5rem 0 0 0;
}

.profile:after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 25%;
    width: 50%;
    border-bottom: 1px solid #0000CC;
}



.title{
    color:#3a424d;
    font-size: 180px;
    margin: 0 0 0 4rem;
}





.subtitle{
    color: #fff;
    font-size: 60px;
    margin: 0 0 0 4rem;
}

.containerName{
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0 0 0 4rem;
    height: 50px;
}

.name{
    margin: 0 .5rem 0 0;
    font-size: 50px;
    border-bottom: #00adb5 solid 4px ;
    border-radius: 4px;
}

.lastname{
    color: #00adb5;
    font-size: 50px;
}

@media screen and (max-width: 800px) {
    .title{
        font-size: 100px;
    }

    .subtitle{
        font-size: 40px;
    }

    .name{
        font-size: 30px;
    }

    .lastname{
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {
    .title{
        font-size: 70px;
    }
}

.role{
    color: #fff;
    margin: 1rem 0 0 4rem;
}

.containerFollow{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow{
    color: #00adb5;
    writing-mode: vertical-rl;
    margin: 1rem 0 0 0;
}

.line{
    border: #fff solid 1px;
    display: flex;
    writing-mode: vertical-rl;
    color: #00adb5;
    margin: .5rem 0 0 0;
    height: 100px;
    border: #00adb5 2px solid;
    border-radius: 4px;
}

.instaBox{
    margin: 10px 0 0 0;
    background-color: #3a424d;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram{
    color: #fff;
}

