.main{
    width: 100%;
    height: 60px;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.subMain{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    margin: 0 10rem 0 0;
    color: #fff;
}

.link{
  display: grid;
    place-content: center;
  border: none;
  cursor: pointer;
  list-style: none;
  padding: 10px 28px;
  border-radius: 5px;
  color: #fff;
  position: relative;
  text-decoration: none;
  height: 50px;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
.link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.logo{
    /* height: 30px; */
    /* width: 40px; */
    color: #fff;
    font-size: 1.3rem;
    margin: 0 0 0 2rem;
}